body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
}

.logo-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    height: auto;
    width: 40px;
    filter: invert(100%);
}

.logo-text {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.sidebar {
    background-color: #60a5fa;
    grid-row: 1 / -1;
    padding: 10px 10px 10px 10px;
}

.webpages-holder {
    margin-top: 50px;
    padding-left: 10px;
}

.webpage-card {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.webpage-card  img{
    filter: invert(100%);
    height: auto;
    width: 20px;
}

.webpage-text {
    color: white;
    padding-left: 10px;
}

.header {
    grid-column: 2 / -1;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
    padding-right: 30px;
}

.search-area {
    display: flex;
}

.search {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.search-bar {
    margin-right: 40px;
    width: 400px;
}

.user-info-area {
    display: flex;
    align-items: center;
}

.alert-bell {
    width: 20px;
    height: auto;
    margin-right: 20px;
}

.top-bar .profile-pic {
    width: 40px;
    height: auto;
    border-radius: 50px;
    margin-right: 20px;
}

.top-bar .user-name {
    width: 200px;
    white-space: nowrap;
}

.bar {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    align-items: center;
    padding-top: 20px;
}

.bar .profile-pic {
    width: 70px;
    height: auto;
    border-radius: 50px;
}

.bar .button-holder {
    justify-self: end;
    display: flex;
    gap: 20px;
}

.button-holder button {
    border-radius: 20px;
    border-width: 0px;
    color: white;
    background-color: #60a5fa;
    padding: 8px 20px;
}

.main-view {
    background-color: #eff6ff;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 1fr;
    padding: 20px 20px 50px 10px;
    gap: 20px;
}

.main-view .sub-heading {
    font-size: 20px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 20px;
}

.sub-heading {
    grid-column: 1 / -1;
}

.project-card {
    border-style: solid;
    border-width: 5px;
    border-color: white white white gold;
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.project-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.project-description {
    font-weight: lighter;
    font-size: 12px;
}

.card-action-holder {
    margin-top:auto;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.card-action {
    height: auto;
    width: 20px;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    flex-direction: column;
    gap: 20px;
}

.announcement-card-holder {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.announcement-card{
    padding: 15px 10px;
}

.announcement-title {
    font-weight: bold;
    font-size: 12px;
}

.announcement-content {
    font-weight: lighter;
    font-size: 10px;
}

hr {
    border-top: grey;
    border-width: 1px;
}


.trending {
    grid-area: 2 / 2 / 3 / 3;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.trending img {
    height: auto;
    width: 30px;
}